{{ define "main" }}
<!--  -->
<main class="font-raleway bg-graphite">
    {{ partial "stadiumeightNav" }}
    <section id="stadium-eight-individual-main-hero"
        style="background-image: url('{{ .Params.HeroImageSrc }}'); width: 100%; height: 100vh; background-size: cover; background-repeat: no-repeat;"
        class="">
        <div class="container-fluid font-raleway text-white pt-20 px-5">
            <div class="col-lg-5 font-work-sans">
                <div class="row py-3">
                    <h1 class="font-weight-bold">{{ .Title }}</h1>
                    <h5 class="font-weight-light">{{ .Description }}</h5>
                </div>
                <div class="row py-3">
                    <h4 class="font-weight-bold pt-4">PRODUCTION COMPANY</h4>
                    <a href="" class=""><img src="{{ .Params.ProductionCompany }}" alt="" class="w-25"></a>
                </div>
                <div class="row col-6 py-3">
                    <a href="" class="btn btn-lg btn-block btn-light font-weight-bold px-5"><i
                            class="fas fa-play px-2"></i> START WATCHING</a>
                </div>
                <div class="row col-6 py-3">
                    <a href="#stadium-eight-individual-info"
                        class="btn btn-lg btn-block btn-golden font-weight-bold px-5">MORE INFO</a>
                </div>
            </div>
        </div>
    </section>
    <section id="stadium-eight-individual-info" class="py-5">
        <div class="container text-white pt-3 pb-5">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <h5 class="font-weight-bold">CAST</h5>
                    <div class="">
                        <h6 class="">{{ .Params.CastOne }}</h6>
                        <h6 class="">{{ .Params.CastTwo }}</h6>
                        <h6 class="">{{ .Params.CastThree }}</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <h5 class="font-weight-bold">GENRES</h5>
                    <div class="">
                        <h6 class="">{{ .Params.GenreOne }}</h6>
                        <h6 class="">{{ .Params.GenreTwo }}</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <h5 class="font-weight-bold">RATING</h5>
                    <div class="">
                        <h6 class="">PG-13</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <h5 class="font-weight-bold">SOCIAL</h5>
                    <div class="">
                        <a href="{{ .Params.InstagramURL }}" class="text-light text-decoration-none"><i
                                class="fab fa-instagram-square fa-2x"></i></a>
                        <a href="{{ .Params.TwitterURL }}" class="text-light text-decoration-none"><i
                                class="fab fa-twitter-square fa-2x"></i></a>
                        <a href="{{ .Params.FacebookURL }}" class="text-light text-decoration-none"><i
                                class="fab fa-facebook-square fa-2x"></i></a>
                        <a href="{{ .Params.WebsiteURL }}" class="text-light text-decoration-none"><i
                                class="fas fa-share-alt-square fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="stadium-eight-individual-playlist" class="py-5">
        <div class="container">
            <div class="card bg-graphite box-shadow p-5">
                <div class="row rounded bg-graphite-light box-shadow">
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="" class="">
                                <img src="{{ .Params.HeroImageSrc }}" alt="" class="card-img">
                            </a>
                        </div>
                        <div class="col-lg-6 text-white my-auto">
                            <a href="" class="text-white text-decoration-none">
                                <h2 class="">TITLE</h2>
                                <h6 class="">DESCRIPTION</h6>
                                <h6 class="text-small">May 17, 2020</h6>
                            </a>
                        </div>
                        <div class="col-lg-2 my-auto">
                            <a href="" class="">
                                <i class="far fa-play-circle text-danger fa-4x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{ end }}