{{ define "main" }}
<!-- MAIN START -->
<main class="font-work-sans">
  {{ partial "diesmo5mediaNav" }}

  <section class="vh-100">
    <div class="py-3"></div>
    <div
      class="container font-work-sans text-graphite-dark text-center col-lg-6 py-5"
    >
      <h1 class="font-weight-bold text-7 pt-5 pb-4">
        We tackle problems. Provide solutions.
      </h1>
      <div class="hover-zoom">
        <img src="../assets/media/header-800x250.jpg" alt="" class="w-100" />
      </div>
      <h5 class=" pt-3 pb-4">
        We work with startups and local business to build a long lasting and
        powerful brand.
      </h5>
      <a href="/media-services" class="btn btn-graphite rounded-0 px-5 py-2"
        >OUR SERVICES</a
      >
    </div>
  </section>

  <!-- <section class="bg-graphite">
    <div class="container font-work-sans text-center text-white">
      <h2 class="font-weight-bold">Let's make something together</h2>
    </div>
  </section> -->

  {{ partial "diesmo5mediaFooter" }}
</main>
<!-- MAIN END -->
{{ end }}
