{{ define "main" }}
<!-- MAIN START -->
<main class="font-raleway">
  {{ partial "diesmo5mediaNav" }}
  <section id="media-hero" class="bg-seashell py-5">
    <div id="padding" class="py-5">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-lg-7 col-md-6 col-12 m-auto py-4">
            <div class="card rounded-0 text-deep-space-sparkle p-lg-5 p-4">
              <h1 class="card-title font-merriweather font-weight-bold">As an entrepreneur, you provide value and grow
                your business. </h1>
              <h4 class="card-text">We provide services aimed at helping you do more of that. So let’s increase your
                funnel!</h4>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
            <img src="../assets/media/hero-800x800.jpg" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-one" class="p-lg-5" data-aos="fade-up">
    <div class="container bg-platinum p-5">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <h5 class="">LET'S JUST SAY IT</h5>
          <h2 class="font-merriweather font-weight-bold">You are delivering amazing value and results to your clients
            and customers.</h2>
          <h5 class="py-3">You’re smart. You get things done.</h5>
          <h5 class="">So — why aren’t people placing orders or booking sales calls?</h5>
        </div>
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/computer-growth-900x900.jpg" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-two" class="p-lg-5" data-aos="fade-up">
    <div class="container bg-seashell p-5">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/computer-website-900x900.jpg" alt="" class="w-100">
        </div>
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <h5 class="">BEFORE ANYTHING</h5>
          <h2 class="font-merriweather font-weight-bold">You made a real awesome website yourself.</h2>
          <h5 class="py-3">It took hours upon hours of YouTube and far too many weekends, but you figured this out and
            you are proud! Nice work by the way.
          </h5>
          <h5 class="">But you’re also feeling:</h5>
          <h5 class="ml-5"><i class="far fa-thumbs-down"></i> <b>Overwhelmed</b> with tech issues</h5>
          <h5 class="ml-5"><i class="far fa-thumbs-down"></i> <b>Disappointed</b> that no one’s signing up for your
            newsletter
          </h5>
          <h5 class="ml-5"><i class="far fa-thumbs-down"></i> <b>Anxious</b> because customers aren't lining out the
            door</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-three" class="p-lg-5" data-aos="fade-up">
    <div class="container bg-platinum p-5">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <h5 class="">CONSIDER THIS</h5>
          <h2 class="font-merriweather font-weight-bold">Websites are hard
            when you’re trying to
            do it all on your own.</h2>
          <h5 class="py-3">This is something we see all the time from our clients.
          </h5>
          <h5 class="">Most have struggled through hours of tech tutorials. Some even have horror stories about
            freelancers who ghosted on them (after they paid thousands of dollars in deposit fees).
          </h5>
          <h5 class="py-3">
            They’ve taken marketing advice that isn’t relevant to their business and ended up with websites that don’t
            get <b>results</b>.
          </h5>
          <!-- <h5 class="">What we see way too often is entrepreneurs getting to this point and just giving up.</h5> -->
          <h5 class="">In the end, they convince themselves that no one’s buying because they aren’t qualified enough.
            They give up and let their domain
            expire.
          </h5>
        </div>
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/planner-900x900.jpg" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-four" class="p-lg-5" data-aos="fade-up">
    <div class="container bg-seashell p-5">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/logo/favicon-1080x1080.png" alt="" class="w-100">
        </div>
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <!-- <h5 class="">NICE WORK!</h5> -->
          <h2 class="font-merriweather font-weight-bold">Let’s fix this.</h2>
          <h5 class="py-3">Hi, We’re diesmo5 media.</h5>
          <h5 class="">We create websites for entrepreneurs like you so you can focus on building your business and
            providing value</h5>
          <h5 class="py-3">We’ve helped our clients...</h5>
          <h5 class="ml-5"><i class="fas fa-check"></i> <b>Attract</b> more leads</h5>
          <h5 class="ml-5"><i class="fas fa-check"></i> <b>Sign</b> new clients</h5>
          <h5 class="ml-5"><i class="fas fa-check"></i> <b>Increase</b> their prices</h5>
          <h5 class="py-3">And we can help you, too.</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-five" class="bg-platinum p-lg-5">
    <div class="container-fluid text-center py-5">
      <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle py-5">When diesmo5 media builds your
        website, we bring on a team <br> with the perfect combination of skills and experience.
      </h2>
      <div class="row py-5">
        <div class="col-lg-3 col-md-6 col-12 py-3 text-prussian-blue">
          <i class="fas fa-laptop fa-1x"></i>
          <h4 class="font-merriweather font-weight-bold text-middle-red pt-3 pb-1">Web Design</h4>
          <p class="font-raleway font-weight-normal">diesmo5 media builds fast, responsive websites that are driven by
            powerful Search Engine Optimization (SEO).</p>
        </div>
        <div class="col-lg-3 col-md-6 col-12 py-3 text-prussian-blue">
          <i class="fas fa-store-alt fa-1x"></i>
          <h4 class="font-merriweather font-weight-bold text-middle-red pt-3 pb-1">Business</h4>
          <p class="font-raleway font-weight-normal">diesmo5 media was founded by a family who studied in computer
            science and software engineering.</p>
        </div>
        <div class="col-lg-3 col-md-6 col-12 py-3 text-prussian-blue">
          <i class="fas fa-chart-bar fa-1x"></i>
          <h4 class="font-merriweather font-weight-bold text-middle-red pt-3 pb-1">Marketing</h4>
          <p class="font-raleway font-weight-normal">diesmo5 media has worked with all sorts of businesses, from fitness
            coaches to international events, and we can help you market your business too.</p>
        </div>
        <div class="col-lg-3 col-md-6 col-12 py-3 text-prussian-blue">
          <i class="fas fa-user-friends fa-1x"></i>
          <h4 class="font-merriweather font-weight-bold text-middle-red pt-3 pb-1">Consulting</h4>
          <p class="font-raleway font-weight-normal">diesmo5 media strives to earn a living by making your life easier,
            explaining complex ideas in simple words and providing a clear, understandable, and easy process to manage
            your website.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-six" class="bg-seashell p-lg-5">
    <div class="container py-5">
      <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle text-center py-5">How is diesmo5 media
        different?</h2>
      <div class="row py-5">
        <div class="col-lg-6 col-md-6 col-12 text-prussian-blue">
          <h4 class="font-merriweather font-weight-bold pt-3 pb-1">We care about entrepreneurship and want you to
            succeed.</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-12 text-prussian-blue">
          <h5 class="font-raleway font-weight-normal pt-3 pb-1"> We’re committed to helping your business grow because
            entrepreneurs are innovative and provide services that benefit others around the globe.</h5>
          <h5 class="font-raleway font-weight-normal pt-3 pb-1"> We believe you can change the world and we want to help
            you make it happen.</h5>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-lg-6 col-md-6 col-12 text-prussian-blue">
          <h4 class="font-merriweather font-weight-bold pt-3 pb-1">We are committed to diversity and inclusion.</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-12 text-prussian-blue">
          <h5 class="font-raleway font-weight-normal pt-3 pb-1"> Our team is comprised by multiple cultural influences
            and come from different backgrounds of expertise.
          </h5>
          <h5 class="font-raleway font-weight-normal pt-3 pb-1"> We’re passionate about creating spaces where everyone
            feels like they belong and we’re here to help you speak to diverse audiences.</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-seven" class="p-lg-5" data-aos="fade-up">
    <div class="container-fluid bg-platinum p-5">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <!-- <h5 class="">NICE WORK!</h5> -->
          <h2 class="font-merriweather font-weight-bold">We’ll make sure your website...</h2>
          <h5 class="ml-4 py-3"><i class="fas fa-check"></i> Makes a strong first impression and starts with a bang!</h5>
          <h5 class="ml-4"><i class="fas fa-check"></i> Demonstrates your expertise and builds instant trust</h5>
          <h5 class="ml-4 py-3"><i class="fas fa-check"></i> Shows your new client a clear path to working with you</h5>
          <h5 class="ml-4"><i class="fas fa-check"></i> Inspires them to take action and buy from you</h5>
          <h5 class="pt-3 pb-4"> Find out more about working with diesmo5 media.</h5>
          <a href="/media-services" class="btn btn-middle-red-to-prussian-blue rounded-0 px-5 py-2">SEE SERVICES</a>
        </div>
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/table-900x900.jpg" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>
  {{ partial "diesmo5mediaFooter" }}
</main>
<!-- MAIN END -->
{{ end }}