{{ define "main" }}
<!-- MAIN START -->
<main class="font-work-sans">
  {{ partial "diesmo5mediaNav" }}

  <section class="h-100vh">
    <div class="container font-work-sans text-graphite-dark text-center col-lg-6 pt-15">
      <h1 class="font-weight-bold hover-graphite-liberty text-7 pt-5 pb-4">
        HOME OF <br>
        TECH STARTUPS
      </h1>
      <div class="hover-zoom">
        <img src="../assets/media/header-800x250.jpg" alt="" class="w-100" />
      </div>
      <h5 class=" pt-3 pb-4">
        We work with startups and local business to build a long lasting and
        powerful brand.
      </h5>
      <a href="/media-services" class="btn btn-graphite-liberty rounded-0 px-5 py-3">OUR SERVICES</a>
    </div>
  </section>

  <section class="">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12 hover-zoom">
        <img src="../assets/media/office-vertical-750x1000.jpg" alt="" class="w-100">
      </div>
      <div class="col-lg-6 col-md-6 col-12 p-lg-5 p-3">
        <div class="card rounded-0 bg-graphite text-white h-100  p-lg-5 p-4">
          <div class="m-auto">

            <h2 class="card-title font-weight-normal">Building unique identities doesn't have to be so hard.</h2>
            <h6 class="card-text font-weight-normal">As a startup, you are establishing your presence.</h6>
            <h6 class="card-text font-weight-normal py-3">You believe your idea is the future of technology, so the fact
              that no one knows who you
              are has left you scratching your head. </h6>
            <h6 class="font-weight-normal pl-3"><i class="fas fa-times pr-3"></i>Struggling to find investors</h6>
            <h6 class="font-weight-normal pl-3"><i class="fas fa-times pr-3"></i>Your website doesn't feel like you and
              you kind of hope no one sees it</h6>
            <h6 class="font-weight-normal pl-3"><i class="fas fa-times pr-3"></i>You're worried the flexibility of
              having
              an online business will never be a reality for you</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid p-5">
    <div class="row bg-graphite p-5">
      <div class="col-lg-6 col-md-6 col-12 m-auto">
        <div class="text-white">
          <h2 class="font-weight-normal">Let’s fix it.</h2>
          <h6 class="font-weight-normal">Our websites help startups...</h6>
          <h6 class="font-weight-normal">
            I’m here to help you.. so you can focus on the reason you started your startup in the first place:
            to...
          </h6>
          <h6 class="font-weight-normal">Find out how we can work together.</h6>
          <a href="/media-services" class="btn btn-light rounded-0 mt-4 px-5 py-2">OUR SERVICES</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12 m-auto hover-zoom">
        <img src="../assets/media/office-square-600x600.jpg" alt="" class="w-100">
      </div>
    </div>
  </section>

  <!-- <section class="container-fluid text-center">
    <h5 class="font-weight-normal">"DIESMO5 MEDIA takes care of your website so you can focus on what you do best. They're trusted, reliable, and a joy to work with!"</h5>
  </section> -->

  {{ partial "diesmo5mediaFooter" }}
</main>
<!-- MAIN END -->
{{ end }}