{{ define "main" }}
<!-- MAIN START -->
<main class="font-raleway">
    {{ partial "diesmo5mediaNav" }}

    <section id="media-hero" class="bg-seashell py-5">
        <div id="padding" class="py-5">
            <div class="container py-5">
                <div class="row py-5">
                    <div class="col-lg-7 col-md-6 col-12 m-auto py-4">
                        <div class="text-deep-space-sparkle text-center p-lg-5 p-4">
                            <h5 class="">LET'S GET THIS STRAIGHT</h5>
                            <h1 class="font-merriweather font-weight-bold py-3"> Your people <br>
                                need you online.</h1>
                            <h4 class="pb-4">diesmo5 media is here to help you get online
                                and keep your business growing.</h4>
                                <a href="https://forms.gle/AtxD4dpMM8TDU81x9" target="_blank" rel="external" class="btn btn-lg btn-middle-red-to-prussian-blue rounded-0 px-5 py-3">BOOK YOUR CALL</a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
                        <img src="../assets/media/logo/favicon-1080x1080.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="page-section-one" class="p-lg-5" data-aos="fade-up">
        <div class="container text-deep-space-sparkle text-center p-5">
            <h5 class="text-middle-red pt-5">TAKE NOTICE</h5>
            <h1 class="font-merriweather font-weight-bold py-3"> We're here if you need help with… <br>
            <div class="row pt-5">
                <div class="col-lg-4 col-md-6 col-12 py-4">
                    <i class="fab fa-chrome fa-1x text-middle-red py-4"></i>
                    <h6 class="">
                        <b>Building responsive websites</b> that work across all platforms and devices. 
                    </h6>
                </div>
                <div class="col-lg-4 col-md-6 col-12 py-4">
                    <i class="fas fa-mountain fa-1x text-middle-red py-4"></i>
                    <h6 class="">
                        <b>Setting up landing pages</b> that convey your message in a concise and articulate way. 
                    </h6>
                </div>
                <div class="col-lg-4 col-md-6 col-12 py-4">
                    <i class="fab fa-cc-paypal fa-1x text-middle-red py-4"></i>
                    <h6 class="">
                        <b>Accepting payments online</b> so you can sell products, services, and book consultations.
                    </h6>
                </div>
                <div class="col-lg-4 col-md-6 col-12 py-4">
                    <i class="far fa-calendar-check fa-1x text-middle-red py-4"></i>
                    <h6 class="">
                        <b>Simplifying + automating your signup process</b> so clients and customers can easily sign up to your business.
                    </h6>
                </div>
                <div class="col-lg-4 col-md-6 col-12 py-4">
                    <i class="fas fa-pencil-alt fa-1x text-middle-red py-4"></i>
                    <h6 class="">
                        <b>Starting a blog</b> to help spread your message, ideas, and knowledge to your audience. 
                    </h6>
                </div>
                <div class="col-lg-4 col-md-6 col-12 py-4">
                    <i class="fab fa-canadian-maple-leaf fa-1x text-middle-red py-4"></i>
                    <h6 class="">
                        <b>Polishing up your DIY website</b> so you look legitimate when prospective clients visit your website.
                    </h6>
                </div>
            </div>
            <h6 class="pb-5">… or anything else that will help your business grow, increase its funnel and improve its search engine optimization.</h6>
        </div>
    </section>
    <section id="page-section-two" class="bg-platinum p-lg-5">
        <div class="container py-5">
          <!-- <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle py-5"> How it works</h2> -->
          <div class="row py-5 text-deep-space-sparkle">
            <div class="col-lg-6 col-md-12 col-12 py-3">
    
            </div>
            <div class="col-lg-6 col-md-12 col-12 py-3">
              <h5 class="font-work-sans">CLIENT SUCCESS STORY</h5>
              <h2 class="font-merriweather font-weight-bold text-middle-red">Stefanie signed 9 new clients within
                one month of launching her website.</h2>
              <h5 class="py-3">“Danbee, you beyond exceeded my expectations. It felt like you were holding my hand
                throughout
                the entire process and I absolutely LOVE my website."</h5>
              <h5 class="font-weight-bold">
                STEFANIE BRIDGES
              </h5>
              <h5 class="">
                ACCOUNTABILITY COACH
              </h5>
            </div>
          </div>
        </div>
    </section>
    <section id="page-section-three" class="p-lg-5" data-aos="fade-up">
        <div class="container-fluid bg-seashell p-5">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
              <!-- <h5 class="">NICE WORK!</h5> -->
              <h2 class="font-merriweather font-weight-bold">Book a call with diesmo5 media!</h2>
                <h5 class="py-2"> We can use it as a problem solving + implementation session and get work done over a screenshare.
                </h5>
                <h5 class="py-2"> Or we can treat it like a consultation where you can ask us anything —</h5>
              <h5 class="ml-4 py-3"><i class="fas fa-check"></i> All the moving parts you need to consider when you run your business online (paid + free)</h5>
              <h5 class="ml-4"><i class="fas fa-check"></i> Our exclusive recommendations for platforms, tools, and services (paid + free)</h5>
              <h5 class="ml-4 py-3"><i class="fas fa-check"></i> Best practices for getting a new website up and running asap</h5>
              <h5 class="ml-4 pb-4"><i class="fas fa-check"></i> Pivots we’ve made in our business so we can stay profitable and sustainable.</h5>
              <a href="https://forms.gle/AtxD4dpMM8TDU81x9" target="_blank" rel="external" class="btn btn-middle-red-to-prussian-blue rounded-0 px-5 py-3">BOOK YOUR CALL</a>
            </div>
            <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
              <img src="../assets/media/table-900x900.jpg" alt="" class="w-100">
            </div>
          </div>
        </div>
      </section>
    


    {{ partial "diesmo5mediaFooter" }}
</main>
<!-- MAIN END -->
{{ end }}