<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- METADATA START -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{.Description}}" />
    <title>{{ if .Title }} {{ .Title }} | {{ end }} DIESMO5</title>
    <!-- METADATA END -->

    <!-- CSS START -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../framework/main.min.css">
    <!-- <link rel="stylesheet" href="../../diesmo5.css"> -->
    <!-- CSS END -->

    <!-- FAVICONS START -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../assets/favicon/180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../assets/favicon/32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../assets/favicon/16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="../../assets/favicon/svg.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#9f00a7" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="shortcut icon"
      href="../../assets/favicon/favicon.png"
      type="image/x-icon"
    />
    <!-- FAVICONS END -->

    <!-- ANALYTICS START -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-150415761-1"
    ></script>
    <script id="mcjs">
      !(function(c, h, i, m, p) {
        (m = c.createElement(h)),
          (p = c.getElementsByTagName(h)[0]),
          (m.async = 1),
          (m.src = i),
          p.parentNode.insertBefore(m, p);
      })(
        document,
        "script",
        "https://chimpstatic.com/mcjs-connected/js/users/a0f3186838415a0e37a8dc337/b10e2f13054db41529f2472b2.js"
      );
    </script>
    <!-- ANALYTICS END -->
  </head>
  <body style="overflow-x: hidden;">
    <!-- MAIN START -->
    {{ block "main" . }} {{ end }}
    <!-- MAIN END -->

    <!-- SCRIPT START -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- SCRIPT END -->
  </body>
</html>
