{{define "main"}}
<!--  -->

<main>
  {{ partial "diesmo5mediaNav" }}
  <section id="media-hero" class="bg-white py-5" data-aos="fade-up">
    <div id="padding" class="py-5">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-lg-7 col-12 m-auto py-4">
            <div class="card border-0 text-deep-space-sparkle p-lg-5 p-4">
              <h1 class="card-title font-merriweather font-weight-bold">{{ .Title }}</h1>
              <h2 class="font-merriweather text-middle-red"><i>{{ .Params.clientType }}</i></h2>
              <h4 class="card-text font-weight-normal">{{ .Description }}</h4>
              <a href="https://{{ .Params.clientDomain }}" target="_blank" rel="external" class="text-middle-red">
                <h4 class="font-weight-normal">
                  {{ .Params.clientDomain }}
                </h4>
              </a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
            <img src="../assets/media/hero-800x800.jpg" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-one" class="bg-seashell p-5" data-aos="fade-up">
    <div class="container col-6 py-5">
      <div class="py-5">
        <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle">The Goal</h2>
        <h4 class="font-weight-normal text-deep-space-sparkle py-2">{{ .Params.clientGoal }}</h4>
      </div>
  </section>
  <section id="page-section-two" class="bg-white p-5" data-aos="fade-up">
    <div class="container py-5">
      <div class="col-lg-6 col-md-12 col-12 py-5">
        <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle">The “Before”</h2>
        <h4 class="font-weight-normal text-deep-space-sparkle py-2">{{ .Params.beforeDescription }}</h4>
      </div>
  </section>
  <section id="page-section-three" class="bg-white p-5" data-aos="fade-up">
    <div class="container py-5">
      <div class=" py-5">
        <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle">Mood board</h2>
        <h4 class="font-weight-normal text-deep-space-sparkle py-2">{{ .Params.moodBoardDescription }}</h4>
        <div class="row py-5">
          <div class="col-lg-3 col-md-6 col-12 py-3"><img src="/assets/media/portfolio/{{.Params.key}}/moodBoardOne.jpg"
              alt="" class="w-100">
          </div>
          <div class="col-lg-3 col-md-6 col-12 py-3"><img src="/assets/media/portfolio/{{.Params.key}}/moodBoardTwo.jpg"
              alt="" class="w-100">
          </div>
          <div class="col-lg-3 col-md-6 col-12 py-3"><img
              src="/assets/media/portfolio/{{.Params.key}}/moodBoardThree.jpg" alt="" class="w-100">
          </div>
          <div class="col-lg-3 col-md-6 col-12 py-3"><img
              src="/assets/media/portfolio/{{.Params.key}}/moodBoardFour.jpg" alt="" class="w-100">
          </div>
        </div>
      </div>
  </section>
  <section id="page-section-four" class="bg-white p-5" data-aos="fade-up">
    <div class="container py-5">
      <div class=" py-5">
        <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle">Colors and fonts</h2>
        <h4 class="font-weight-normal text-deep-space-sparkle py-2">{{ .Params.guidelinesDescription }}</h4>
        <div class="row py-5">
          <div class="col-lg-3 col-md-6 col-12 py-3"><img src="/assets/media/portfolio/{{.Params.key}}/colorOne.jpg"
              alt="" class="w-100"></div>
          <div class="col-lg-3 col-md-6 col-12 py-3"><img src="/assets/media/portfolio/{{.Params.key}}/colorTwo.jpg"
              alt="" class="w-100"></div>
          <div class="col-lg-3 col-md-6 col-12 py-3"><img src="/assets/media/portfolio/{{.Params.key}}/colorThree.jpg"
              alt="" class="w-100"></div>
          <div class="col-lg-3 col-md-6 col-12 py-3"><img src="/assets/media/portfolio/{{.Params.key}}/colorFour.jpg"
              alt="" class="w-100"></div>
        </div>
        <div class="row py-5">
          <div class="col-lg-6 col-md-6 col-12 py-5">
            <img src="/assets/media/portfolio/{{.Params.key}}/fontOne.jpg" alt="" class="w-100">
          </div>
          <div class="col-lg-6 col-md-6 col-12 py-5">
            <img src="/assets/media/portfolio/{{.Params.key}}/fontTwo.jpg" alt="" class="w-100">
          </div>
        </div>
      </div>
  </section>
  <section id="page-section-five" class="bg-white p-5" data-aos="fade-up">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 py-5 my-auto">
          <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle">Logo and brand mark</h2>
          <h4 class="font-weight-normal text-deep-space-sparkle py-2">{{ .Params.brandDescription }}</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-12 py-5 my-auto">
          <img src="/assets/media/portfolio/{{.Params.key}}/brandLogo.jpg" alt="" class="w-100">
        </div>
      </div>
  </section>
  <section id="page-section-six" class="bg-white p-5" data-aos="fade-up">
    <div class="container py-5">
      <div class=" py-5">
        <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle">Stock photography</h2>
        <h4 class="font-weight-normal text-deep-space-sparkle py-2">{{ .Params.stockDescription }}</h4>
        <div class="row py-5">
          <div class="col-lg-4 col-md-4 col-12 py-3"><img src="/assets/media/portfolio/{{.Params.key}}/stockOne.jpg"
              alt="" class="w-100">
          </div>
          <div class="col-lg-4 col-md-4 col-12 py-3"><img src="/assets/media/portfolio/{{.Params.key}}/stockTwo.jpg"
              alt="" class="w-100">
          </div>
          <div class="col-lg-4 col-md-4 col-12 py-3"><img src="/assets/media/portfolio/{{.Params.key}}/stockThree.jpg"
              alt="" class="w-100">
          </div>
        </div>
      </div>
  </section>

  <section id="page-section-eight" class="p-lg-5" data-aos="fade-up">
    <div class="container py-5">
      <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle">The Website</h2>
      <h4 class="font-weight-normal text-deep-space-sparkle py-2">{{ .Params.websiteDescription }}</h4>
    </div>
    <div class="bg-platinum p-5">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 py-4">
          <img src="/assets/media/portfolio/{{.Params.key}}/desktopOne.jpg" alt="" class="w-100">
        </div>
        <div class="col-lg-3 col-md-6 col-12 py-4">
          <img src="/assets/media/portfolio/{{.Params.key}}/desktopTwo.jpg" alt="" class="w-100">
        </div>
        <div class="col-lg-3 col-md-6 col-12 py-4">
          <img src="/assets/media/portfolio/{{.Params.key}}/desktopThree.jpg" alt="" class="w-100">
        </div>
        <div class="col-lg-3 col-md-6 col-12 py-4">
          <img src="/assets/media/portfolio/{{.Params.key}}/desktopFour.jpg" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-nine" class="bg-prussian-blue text-white text-center p-5" data-aos="fade-up">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 py-4">
          <img src="/assets/media/portfolio/{{.Params.key}}/mobileOne.png" alt="" class="w-100">
        </div>
        <div class="col-lg-3 col-md-6 col-12 py-4">
          <img src="/assets/media/portfolio/{{.Params.key}}/mobileTwo.png" alt="" class="w-100">
        </div>
        <div class="col-lg-3 col-md-6 col-12 py-4">
          <img src="/assets/media/portfolio/{{.Params.key}}/mobileThree.png" alt="" class="w-100">
        </div>
        <div class="col-lg-3 col-md-6 col-12 py-4">
          <img src="/assets/media/portfolio/{{.Params.key}}/mobileFour.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-ten" class="bg-seashell p-5" data-aos="fade-up">
    <div class="container py-5">
      <div class=" py-5">
        <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle">The Results</h2>
        <h4 class="font-weight-normal text-deep-space-sparkle py-2">{{ .Params.resultsDescription }}</h4>
        <div class="row py-5">
          <div class="col-lg-4 col-md-4 col-12 py-3">
            <div class="rounded bg-white text-center py-3">
              <i class="{{.Params.resultOneIcon}}"></i>
              <hr class="bg-middle-red col-3 ">
              <h6 class="font-weight-normal px-2">{{.Params.resultOne}}</h6>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 py-3">
            <div class="rounded bg-white text-center py-3">
              <i class="{{.Params.resultTwoIcon}}"></i>
              <hr class="bg-middle-red col-3 ">
              <h6 class="font-weight-normal px-2">{{.Params.resultTwo}}</h6>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 py-3">
            <div class="rounded bg-white text-center py-3">
              <i class="{{.Params.resultThreeIcon}}"></i>
              <hr class="bg-middle-red col-3 ">
              <h6 class="font-weight-normal px-2">{{.Params.resultThree}}</h6>
            </div>
          </div>

        </div>
        <h4 class="font-weight-normal text-deep-space-sparkle col-lg-8 col-12 py-2">{{ .Params.testimonial }}</h4>
      </div>
  </section>
  <section id="page-section-eleven" class="bg-white p-5" data-aos="fade-up">
    <div class="container py-5">
      <div class="py-5">
        <div class="py-5">
          <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle">Your business deserves a professional
            website that feels like your brand. </h2>
          <h3 class="font-merriweather font-weight-bold text-middle-red py-4"><i>I’d love to make it for you so you can
              focus on your zone of genius: helping your clients get healthier and happier.</i></h3>
          <h4 class="font-weight-normal text-deep-space-sparkle">Check out my Services page to see how we can work
            together.</h4>
          <a href="/media-services" class="btn btn-lg rounded-0 btn-middle-red-to-prussian-blue mt-4 px-5 py-3">SEE
            SERVICES</a>
        </div>
      </div>
  </section>
  {{ partial "diesmo5mediaFooter" }}
</main>

{{ end }}