<nav class="navbar navbar-expand-lg fixed-top navbar-diesmo5-media navbar-light text-work-sans">
    <a class="navbar-brand" href="/media"><b class="font-weight-bold">DIESMO5</b>
        <l class="font-weight-light">MEDIA</l></a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/media-services">SERVICES</a>
        <a class="nav-item nav-link" href="/portfolio">PORTFOLIO</a>
        <a class="nav-item nav-link" href="/media-services-contact">CONTACT</a>
      </div>
    </div>
  </nav>