<footer class="bg-prussian-blue text-cadet-grey text-center py-5">
  <section id="" class="">
    <div class="container py-5">
      <div class="col font-merriweather py-5">
        <h1 class="font-weight-bold">
          <a href="/media" class="text-cadet-grey">
            diesmo5 media
          </a>
        </h1>
        <h4 class="">part of
          <a href="/" target="_blank" class="text-cadet-grey">
            diesmo5 inc.
          </a>
        </h4>
        <a href="https://forms.gle/AtxD4dpMM8TDU81x9" target="_blank" rel="external" class="btn btn-lg btn-cadet-grey-to-middle-red rounded-0 mt-4 px-5 py-3">BOOK YOUR CALL</a>
      </div>
      <div class="text-center text-small">
        <h6 class="text-small">&copy; 2016-2020 diesmo5 media</h6>
        <a class="text-light" target="_blank" href="/policy/diesmo5-terms-and-conditions/">
          PRIVACY POLICY
        </a>
        <br>
        <a class="text-light" target="_blank" href="/sitemap.xml">
          SITEMAP
        </a>
      </div>
    </div>
  </section>
</footer>