<footer class="bg-graphite text-white">
  <div class="container-fluid px-lg-5 py-3">
    <div class="row">
      <div class="col my-auto">
        <h6 class="">
          <a href="/media" class="font-work-sans text-white">
            <b class="font-weight-bold">DIESMO5</b>
            <l class="font-weight-light">MEDIA</l>
          </a>
          <a
            href="/"
            class="font-weight-normal font-montserrat text-small text-white"
            >Part of DIESMO5 Inc.</a
          >
        </h6>
      </div>
      <div class="col my-auto">
        <ul class="nav justify-content-end text-small">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              target="_blank"
              href="/policy/diesmo5-terms-and-conditions/"
            >
              PRIVACY POLICY
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              target="_blank"
              href="/policy/diesmo5-privacy-policy/"
            >
              TERMS & CONDITIONS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" target="_blank" href="/sitemap.xml">
              SITEMAP
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
