<nav class="navbar navbar-expand-lg fixed-top navbar-diesmo5-media navbar-deep-space-sparkle bg-seashell font-raleway">
  <div class="container">
    <a class="navbar-brand text-deep-space-sparkle font-merriweather" href="/media">
      <img src="../../assets/media/logo/favicon-500x500.png" alt="" width="30" height="30" class="d-inline-block align-top" loading="lazy">
      <b
        class="font-weight-bold">diesmo5</b>
      <l class="font-weight-light">media</l>
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link mx-2" href="/media-services">SERVICES</a>
        <a class="nav-item nav-link mx-2" href="/media-portfolio">PORTFOLIO</a>
        <a class="nav-item nav-link ml-2" href="/media-services-contact">CONTACT</a>
        <a class="nav-item nav-link ml-2 mr-5" href="/media-book">ABOUT</a>
        <a href="https://forms.gle/AtxD4dpMM8TDU81x9" target="_blank" rel="external" class="btn rounded-0 btn-middle-red-to-prussian-blue px-4">BOOK A POWER HOUR</a>
      </div>
    </div>
  </div>
</nav>