<footer class="bg-light pt-5">
    <div class="container">
        <div class="row pb-3">
            <div class="p-3 col-lg-3 col-md-4 col-12">
                <h6 class=""><b>Today @ DIESMO5</b></h6>
                <div class="">
                    <ul class="list-unstyled">
                        {{ range $.Site.Data.nav.new}}
                        <li class="list-unstyled">
                            <a href="{{.navUrl}}" rel="noopener" rel="noreferrer" target="_blank"
                                class="text-graphite">{{.navTitle}}</a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
            <div class="p-3 col-lg-3 col-md-4 col-12">
                <h6 class=""><b>Media</b></h6>
                <div class="">
                    <ul class="list-unstyled">
                        <li class="list-unstyled">
                            <a href="/media" target="_blank" class="text-dark text-decoration-none">diesmo5 media</a>
                        </li>
                        <li class="list-unstyled">
                            <a href="/media-services" target="_blank"
                                class="text-dark text-decoration-none">services</a>
                        </li>
                        <li class="list-unstyled">
                            <a href="/media-portfolio" target="_blank"
                                class="text-dark text-decoration-none">portfolio</a>
                        </li>
                        <li class="list-unstyled">
                            <a href="/media-book" target="_blank"
                                class="text-dark text-decoration-none">consultations</a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-3 col-lg-3 col-md-4 col-12">
                <h6 class=""><b>Labs</b></h6>
                <div class="">
                    <ul class="list-unstyled">
                        <li class="list-unstyled">
                            <a href="https://stadiumeight.com" rel="noopener" rel="noreferrer" target="_blank"
                                class="text-dark text-decoration-none">stadium eight</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-3 col-lg-3 col-md-4 col-12">
                <h6 class=""><b>Polaris</b></h6>
                <div class="">
                    <ul class="list-unstyled">
                        {{range $.Site.Data.nav.enterprise}}
                        <li class="list-unstyled">
                            <a href="/{{.navUrl}}" class="text-graphite">{{.navTitle}}</a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
            <div class="p-3 col-lg-3 col-md-4 col-12">
                <h6 class=""><b>Foundation</b></h6>
                <div class="">
                    <ul class="list-unstyled">
                        {{range $.Site.Data.nav.collaborate}}
                        <li class="list-unstyled">
                            <a href="{{.navUrl}}" class="text-graphite">{{.navTitle}}</a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
            <!-- <div class="p-3 col-lg-3 col-md-4 col-12">
                <h6 class="">Social</h6>
                <div class="">
                    <ul class="list-unstyled">
                        <li class="list-unstyled">
                            <a href="https://www.youtube.com/channel/UC2hkxqK8PGJDOAkW_pcZB2Q" rel="noopener" rel="noreferrer" target="_blank"
                                class="text-dark text-decoration-none">YouTube</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class="p-3 col-lg-3 col-md-4 col-12">
                <h6 class="">Locations</h6>
                <div class="">
                    <ul class="list-unstyled">
                        {{range $.Site.Data.nav.locations}}
                        <li class="list-unstyled">
                            <a href="/{{.navUrl}}" class="text-graphite">{{.navTitle}}</a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div> -->
            <div class="p-3 col-lg-3 col-md-4 col-12">
                <h6 class=""><b>Company</b></h6>
                <div class="">
                    <ul class="list-unstyled">
                        <li class="list-unstyled">
                            <a href="/news" class="text-dark text-decoration-none">news</a>
                        </li>
                        <li class="list-unstyled">
                            <a href="/about" class="text-dark text-decoration-none">about</a>
                        </li>
                        <li class="list-unstyled">
                            <a href="/careers" class="text-dark text-decoration-none">careers</a>
                        </li>
                        <li class="list-unstyled">
                            <a href="/policy/diesmo5-privacy-policy/" target="_blank"
                                class="text-dark text-decoration-none">privacy policy</a>
                        </li>
                        <li class="list-unstyled">
                            <a href="/policy/diesmo5-terms-and-conditions/" target="_blank"
                                class="text-dark text-decoration-none">terms & conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end">
            {{range $.Site.Data.nav.essential}}
            <a href="/{{.navUrl}}" class="text-graphite px-1">{{.navTitle}}</a>
            {{end}}
        </div>
        <div class="row justify-content-end py-1">
            <p href="" class="text-graphite px-1">&copy; 2016 - 2020, DIESMO5 - All Rights Reserved</p>
        </div>
    </div>
</footer>