<nav class="navbar navbar-expand-lg navbar-diesmo5 navbar-light fixed-top font-work-sans">
  <div class="container">
    <a class="navbar-brand" href="/">
      <h1 class="font-weight-bold">
        DIESMO5
      </h1>
    </a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav font-weight-bold">
        <a class="nav-item nav-link mx-1" href="/events"><h5 class="font-weight-bold">Family</h5></a>
        <a class="nav-item nav-link mx-1" href="/events"><h5 class="font-weight-bold">News</h5></a>
        <a class="nav-item nav-link mx-1" href="/events"><h5 class="font-weight-bold">About</h5></a>
        <a class="nav-item nav-link mx-1" href="/events"><h5 class="font-weight-bold">Careers</h5></a>
        <a class="nav-item nav-link mx-1" href="/events"><h5 class="font-weight-bold">Contact</h5></a>
        <!-- <a href="https://forms.gle/BwSVjd3zXLfnpRw87" target="_blank" rel="external"
          class="btn btn-lg rounded-0 btn-dark font-weight-bold px-5">
          DIESMO5
        </a> -->
      </div>
    </div>
  </div>
</nav>