{{ define "main" }}
<!-- MAIN START -->
<main class="font-work-sans">
    {{ partial "navbar" }}

    <section id="404-hero" class="py-5">
        <div id="padding" class="py-5">
            <div class="container py-5">
                <div class="py-5"></div>
                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h1 class="display-1 text-media-gradient font-weight-bold">404: Page Error</h1>
                            <h1 class="display-2 text-media-gradient font-weight-bold">Sorry, probably Dwight’s fault...
                                again.</h1>
                            <a href="/" class="btn btn-lg rounded-0 btn-dark my-5">Go Back to diesmo5.com</a>
                        </div>
                        <div class="carousel-item">
                            <h1 class="display-1 text-labs-gradient font-weight-bold">404: Page Error</h1>
                            <h1 class="display-2 text-labs-gradient font-weight-bold">Sorry, probably Dwight’s fault...
                                again.</h1>
                            <a href="/" class="btn btn-lg rounded-0 btn-dark my-5">Go Back to diesmo5.com</a>
                        </div>
                        <div class="carousel-item">
                            <h1 class="display-1 text-polaris-gradient font-weight-bold">404: Page Error</h1>
                            <h1 class="display-2 text-polaris-gradient font-weight-bold">Sorry, probably Dwight’s
                                fault... again.</h1>
                            <a href="/" class="btn btn-lg rounded-0 btn-dark my-5">Go Back to diesmo5.com</a>
                        </div>
                        <div class="carousel-item">
                            <h1 class="display-1 text-network-gradient font-weight-bold">404: Page Error</h1>
                            <h1 class="display-2 text-network-gradient font-weight-bold">Sorry, probably Dwight’s
                                fault... again.</h1>
                            <a href="/" class="btn btn-lg rounded-0 btn-dark my-5">Go Back to diesmo5.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ partial "footer" }}
</main>
<!-- MAIN END -->
{{ end }}