{{ define "main" }}
<!-- MAIN START -->
{{ partial "navbar" }}

<section class="bg-diesmo5">
  <div class="container font-montserrat text-center">
    <img src="/assets/favicon/favicon.jpg" alt="" class="pt-30 w-25" />
    <h1 class="font-weight-light text-9 pt-4">DIESMO5</h1>
    <!-- <h3 class="">A parent company.</h3> -->
  </div>
</section>
<section class="bg-diesmo5-media">
  <div class="container font-work-sans text-center text-white">
    <h1 class="text-9 pt-30">
      <b class="font-weight-bold">DIESMO5</b>
      <l class="font-weight-light">MEDIA</l>
    </h1>
    <h5 class="font-weight-normal pt-4 pb-5">
      A full service digital agency built for the now.
    </h5>
    <a href="/media" class="btn btn-outline-light rounded-0 px-5 py-3"
      >Visit <b class="font-weight-bold">DIESMO5</b>
      <l class="font-weight-light">MEDIA</l></a
    >
  </div>
</section>
<!-- <section class="bg-stadium-eight">
  <div class="container font-raleway text-center text-white">
    <h1 class="text-9 pt-30">
      <b class="font-weight-light">STADIUM</b>
      <l class="font-weight-bold">EIGHT</l>
    </h1>
    <h5 class="font-weight-normal pt-4 pb-5">
      A production company creating original releases for emerging technologies
      and digital networks.
    </h5>
    <a href="/stadiumeight" class="btn btn-outline-light rounded-0 px-5 py-3"
      >Visit <b class="font-weight-light">STADIUM</b>
      <l class="font-weight-bold">EIGHT</l></a
    >
  </div>
</section> -->

{{ partial "footer" }}
<!-- MAIN END -->
{{ end }}
