{{ define "main" }}
<!--  -->
<main class="font-work-sans">
  {{ partial "diesmo5mediaNav" }}
  <section class="h-100vh">
    <div class="container pt-20">
      <h1 class="font-weight-bold pb-4">GET IN TOUCH</h1>
      <form
        name="contact"
        method="POST"
        data-netlify="true"
        action="/media-services-contact/success"
      >
        <p>
          <input type="text" name="name" placeholder="NAME" class="w-100 p-3" />
        </p>
        <p>
          <input
            type="email"
            name="email"
            placeholder="EMAIL"
            class="w-100 p-3"
          />
        </p>
        <p>
          <input
            type="subject"
            name="subject"
            placeholder="SUBJECT"
            class="w-100 p-3"
          />
        </p>
        <p>
          <textarea
            name="message"
            style="resize: none;"
            class="w-100 p-3 pb-5"
          ></textarea>
        </p>
        <p>
          <button type="submit" class="btn btn-lg btn-graphite rounded-0 px-5">
            Send
          </button>
        </p>
      </form>
    </div>
  </section>
  {{ partial "diesmo5mediaFooter" }}
</main>
{{ end }}
