{{ define "main" }}
<!--  -->

<main class="font-work-sans">
  {{ partial "diesmo5mediaNav" }}
  <section class="container font-merriweather text-deep-space-sparkle py-5">
    <div class="py-5">
      <div class="py-5">
        <div class="py-5">
          <div class="py-5">
            <div class="py-5">
              <h1 class="font-weight-bold py-5">THANK YOU!</h1>
              <h4 class="">Our team will get back to you as soon as we possibly can.</h4>
              <a href="/media" class="text-cadet-grey">Return to the Main Site ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partial "diesmo5mediaFooter" }}
</main>

{{ end }}