{{ define "main" }}
<!-- MAIN START -->
<main class="font-raleway">
  {{ partial "diesmo5mediaNav" }}
  <section id="media-services-hero" class="bg-seashell bg-image py-5"
    style="background-image: url('../assets/media/services/services-hero-2560x1440.jpg');">
    <div id="padding" class="py-5">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-lg-8 col-md-12 col-12 m-auto py-4">
            <div class="bg-white text-deep-space-sparkle p-lg-5 p-4">
              <h1 class="card-title font-merriweather font-weight-bold"> You <u><i>can</i></u> have a website that gets
                you customers.</h1>
              <h4 class="card-text py-4">diesmo5 media creates websites that help you book out your calendar and
                increase your funnel so
                you can focus on what’s most important, growing your business.</h4>
              <h4 class="card-text pb-4">Book a free strategy call and we’ll figure out your next best step, together.
              </h4>
              <a href="https://forms.gle/AtxD4dpMM8TDU81x9" target="_blank" rel="external"
                class="btn btn-lg btn-middle-red-to-prussian-blue rounded-0 px-5 py-3">BOOK YOUR CALL</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12 m-auto py-4">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-one" class="p-lg-5" data-aos="fade-up">
    <div class="container bg-platinum p-5">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <!-- <h5 class="">LET'S JUST SAY IT</h5> -->
          <h2 class="font-merriweather font-weight-bold">You know you’re
            good at what you do.</h2>
          <h5 class="py-3"> You know you could provide a lot of value, so you’re not sure why your website isn’t
            bringing in new
            leads.</h5>
          <h5 class="">
            But you KNOW you need a successful website if you want to have the flexibility you crave.
          </h5>
        </div>
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/services/services-planner-900x900.jpg" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-two" class="p-lg-5" data-aos="fade-up">
    <div class="container bg-seashell p-5">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/services/services-money-900x900.jpg" alt="" class="w-100">
        </div>
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <!-- <h5 class="">NICE WORK!</h5> -->
          <h2 class="font-merriweather font-weight-bold">Websites can feel like a
            waste of time and money.</h2>
          <h5 class="py-4">We understand that most of the time it feels that way.
          </h5>
          <h5 class="ml-lg-5"><i class="fas fa-times mr-2"></i> You build your own website for months but wonder if it’s
            all
            been
            a waste of time because
            <b>
              no one’s even downloading your freebie, let alone booking a sales call.
            </b>
          </h5>
          <h5 class="ml-lg-5 py-4"><i class="fas fa-times mr-2"></i> You Google for hours on end and even ask for help
            in a
            forum
            but
            your page is still broken because
            <b>
              you don’t have time to keep fixing every damn tech problem.
            </b>
          </h5>
          <h5 class="ml-lg-5"><i class="fas fa-times mr-2"></i> You crave the flexibility of working online but keep
            going
            back to in-person clients because
            <b>
              you need to keep the lights on and maybe running an online business just isn’t for you.
            </b>
          </h5>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-three" class="bg-prussian-blue text-white text-center p-5">
    <div class="container py-5">
      <div class="col py-5">
        <h3 class="font-raleway">FYI:</h3>
        <h3 class="font-raleway pb-4">It’s not you.</h3>
        <h3 class="font-raleway">You know you’re smart. You know you’ve <br> got a great business.</h3>
        <hr class="bg-middle-red col-1 my-5 py-1">
        <h2 class="font-merriweather font-weight-bold">You just need a website that works. <br>
          And diesmo5 media can make it for you.</h2>
      </div>
    </div>
  </section>
  <section id="page-section-four" class="p-lg-5" data-aos="fade-up">
    <div class="container bg-seashell p-5">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/services/services-agency-900x900.jpg" alt="" class="w-100">
        </div>
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <!-- <h5 class="">NICE WORK!</h5> -->
          <h2 class="font-merriweather font-weight-bold">How is diesmo5 media different?</h2>
          <h5 class="py-4"> We focus on truly understanding your vision and your business. Unlike other designers, we
            don't use generic templates. Instead we reverse engineer the problem you are trying to solve and build a
            website based around your unique and personal needs.</h5>
          <h5 class=""> We help you make good decisions that make your business more profitable.</h5>
          <h5 class=" py-4"> If you’re early in your business and you don’t need a website just yet, we’ll be the first
            to tell you so.</h5>
          <h5 class=""> Each website we build is carefully thought out to bring you more leads. This means you can
            focus on what matters: helping your customers and growing your business.</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-five" class="p-lg-5" data-aos="fade-up">
    <div class="container bg-platinum p-5">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <!-- <h5 class="">NICE WORK!</h5> -->
          <h2 class="font-merriweather font-weight-bold">Build websites that help grow your business.</h2>
          <h5 class="py-4"> When you quit relying on Google and put your trust in diesmo5 media to launch a website that
            supports
            your business…</h5>
          <h5 class="ml-lg-5"><i class="fas fa-check"></i> Your email list will grow every week because your
            website helps people download your freebie.
          </h5>
          <h5 class="ml-lg-5 py-4"><i class="fas fa-check"></i> You quickly move past tech challenges as they come
            up because you always have access to expert support.</h5>
          <h5 class="ml-lg-5"><i class="fas fa-check"></i> You can finally focus on developing more products or
            perfecting existing ones.</h5>
        </div>
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/services/services-store-900x900.jpg" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-six" class="bg-copper-red text-white text-center p-5">
    <div class="container py-5">
      <div class="col py-5">
        <h3 class="font-raleway"> Building a website that can work for you, establish your digital footprint, and
          increase your funnel is possible and hundred of businesses are doing it every single day.
        </h3>
        <hr class="bg-prussian-blue col-1 my-5 py-1">
        <h3 class="font-raleway"> Let diesmo5 media help you make this happen for your business.</h3>
      </div>
    </div>
  </section>
  <section id="page-section-seven" class="p-lg-5" data-aos="fade-up">
    <div class="container bg-seashell p-5">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/services/services-consult-900x900.jpg" alt="" class="w-100">
        </div>
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <!-- <h5 class="">NICE WORK!</h5> -->
          <h2 class="font-merriweather font-weight-bold py-4"> Our web design services are perfect for you if…</h2>
          <h5 class="ml-lg-5"><i class="fas fa-fire text-middle-red mr-2"></i> You provide a product or service that
            brings customers value</h5>
          <h5 class="ml-lg-5 py-4"><i class="fas fa-fire text-middle-red mr-2"></i> You get solid results for your
            in-person clients and want to help more people through online</h5>
          <h5 class="ml-lg-5"><i class="fas fa-fire text-middle-red mr-2"></i> You are ready for a website you’re proud
            to show off</h5>
          <h5 class="ml-lg-5 py-4"><i class="fas fa-fire text-middle-red mr-2"></i> You want your website to help you
            book more sales calls</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-eight" class="bg-seashell p-lg-5">
    <div class="container text-center py-5">
      <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle py-5"> How diesmo5 media works</h2>
      <div class="row py-5 text-deep-space-sparkle">
        <div class="col-lg-4 col-md-4 col-12 py-3">
          <i class="fas fa-pencil-ruler fa-2x"></i>
          <h3 class="font-merriweather font-weight-bold text-middle-red pt-3 pb-1"> Plan</h3>
          <h5 class="font-raleway font-weight-normal">We will discuss marketing strategies and web nuances that can help
            grow your business.</h5>
        </div>
        <div class="col-lg-4 col-md-4 col-12 py-3">
          <i class="fas fa-palette fa-2x"></i>
          <h3 class="font-merriweather font-weight-bold text-middle-red pt-3 pb-1">Design</h3>
          <h5 class="font-raleway font-weight-normal">Together, we develop the right image, tone, feel you would like
            your website to have and we build it for you.</h5>
        </div>
        <div class="col-lg-4 col-md-4 col-12 py-3">
          <i class="fas fa-glass-cheers fa-2x"></i>
          <h3 class="font-merriweather font-weight-bold text-middle-red pt-3 pb-1">Launch</h3>
          <h5 class="font-raleway font-weight-normal">We include training and consultations to help you continue
            managing your website without our help... of course, we also provide plans where you can opt to have diesmo5
            media maintain your website for you.</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-nine" class="p-lg-5" data-aos="fade-up">
    <div class="container text-center py-5">
      <h2 class="font-merriweather font-weight-bold text-middle-red">diesmo5 media</h2>
      <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle pb-5">Web Design Packages</h2>
      <div class="row py-5">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="bg-platinum p-4">
            <div class="border-prussian-blue  p-5">
              <h3 class="font-merriweather font-weight-bold text-deep-space-sparkle">Basic</h3>
              <h6 class="font-merriweather font-weight-bold text-middle-red pt-2 pb-3">Web design</h6>
              <div id="features" class="text-left text-prussian-blue">
                <h6 class="py-2"><i class="fas fa-laptop fa-1x mr-3"></i><b>Custom website</b> that speaks
                  to your audience and helps them buy from you</h6>
                <h6 class="py-2"><i class="fas fa-user-friends fa-1x mr-3"></i><b>Client pathway strategy</b> for
                  designing a smooth and positive client experience</h6>
                <h6 class="py-2"><i class="fas fa-magic fa-1x mr-3"></i><b>Brand guidelines</b> so you can build
                  a
                  consistent visual brand online</h6>
                <h6 class="py-2"><i class="far fa-handshake fa-1x mr-3"></i><b>Personalized training and
                    consultations</b>
                  to make
                  sure you have full control over your website</h6>
                <h6 class="text-cadet-grey py-2"><i class="fas fa-pencil-alt fa-1x mr-3"></i><strike><b>Copywriting for
                      all pages </b>so
                    you can
                    tell
                    me your story instead of staring at a blank screen</strike> </h6>
                <h6 class="text-cadet-grey py-2"><i class="fas fa-comment-dots fa-1x mr-3"></i><strike><b> Brand
                      messaging strategy</b> to
                    help
                    you stay
                    on-brand in all your emails and social media posts</strike></h6>
                <h6 class="text-cadet-grey py-2"><i class="fas fa-images fa-1x mr-3"></i><strike><b> Stock photography
                      curating </b> to
                    save you
                    hours of
                    browsing through and optimizing free (subpar) images</strike> </h6>
              </div>
              <h4 class="font-work-sans font-weight-normal text-prussian-blue pt-4">STARTING AT $3,490</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="bg-platinum p-4">
            <div class="border-prussian-blue p-5">
              <h3 class="font-merriweather font-weight-bold text-deep-space-sparkle">Complete</h3>
              <h6 class="font-merriweather font-weight-bold text-middle-red pt-2 pb-3">Web design + copywriting +
                imagery</h6>
              <div id="features" class="text-left text-prussian-blue">
                <h6 class="py-2"><i class="fas fa-laptop fa-1x mr-3"></i><b>Custom website</b> that speaks
                  to your audience and helps them buy from you</h6>
                <h6 class="py-2"><i class="fas fa-user-friends fa-1x mr-3"></i><b>Client pathway strategy</b> for
                  designing a smooth and positive client experience</h6>
                <h6 class="py-2"><i class="fas fa-magic fa-1x mr-3"></i><b>Brand guidelines</b> so you can build
                  a
                  consistent visual brand online</h6>
                <h6 class="py-2"><i class="far fa-handshake fa-1x mr-3"></i><b>Personalized training and
                    consultations</b>
                  to make
                  sure you have full control over your website</h6>
                <h6 class="py-2"><i class="fas fa-pencil-alt fa-1x mr-3"></i><b>Copywriting for all pages </b>so you can
                  tell
                  me your story instead of staring at a blank screen</h6>
                <h6 class="py-2"><i class="fas fa-comment-dots fa-1x mr-3"></i><b> Brand messaging strategy</b> to help
                  you stay
                  on-brand in all your emails and social media posts</h6>
                <h6 class="py-2"><i class="fas fa-images fa-1x mr-3"></i><b> Stock photography curating </b> to save you
                  hours of
                  browsing through and optimizing free (subpar) images</h6>
              </div>
              <h4 class="font-work-sans font-weight-normal text-prussian-blue pt-4">STARTING AT $4,990</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-ten" class="bg-platinum p-lg-5">
    <div class="container py-5">
      <!-- <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle py-5"> How it works</h2> -->
      <div class="row py-5 text-deep-space-sparkle">
        <div class="col-lg-6 col-md-12 col-12 py-3">

        </div>
        <div class="col-lg-6 col-md-12 col-12 py-3">
          <h5 class="font-work-sans">CLIENT SUCCESS STORY</h5>
          <h2 class="font-merriweather font-weight-bold text-middle-red">Stefanie signed 9 new clients within
            one month of launching her website.</h2>
          <h5 class="py-3">“Danbee, you beyond exceeded my expectations. It felt like you were holding my hand
            throughout
            the entire process and I absolutely LOVE my website."</h5>
          <h5 class="font-weight-bold">
            STEFANIE BRIDGES
          </h5>
          <h5 class="">
            ACCOUNTABILITY COACH
          </h5>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-eleven" class="p-lg-5" data-aos="fade-up">
    <div class="container-fluid bg-seashell p-5">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <!-- <h5 class="">NICE WORK!</h5> -->
          <h2 class="font-merriweather font-weight-bold">How do we get started?</h2>
          <h5 class=" py-3"> Hop on a quick call with us.</h5>
          <h5 class=""> Let’s talk about where your business is headed in the next 6 months and how your website can
            help you hit those goals.</h5>
          <h5 class=" py-3"> If we agree we’re a good fit, we can go ahead and discuss your website launch timeline.
          </h5>
          <h5 class=""> Even if we decide this isn’t the right time for us to work together, you’ll walk away with clear
            next steps for getting more clients with your website.</h5>
          <a href="https://forms.gle/AtxD4dpMM8TDU81x9" target="_blank" rel="external"
            class="btn btn-lg btn-middle-red-to-prussian-blue rounded-0 mt-4 px-5 py-3">BOOK YOUR CALL</a>
        </div>
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/services/services-begin-900x900.jpg" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-twelve" class="p-lg-5" data-aos="fade-up">
    <div class="container py-5">
      <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle text-center py-5"> FAQ</h2>
      <div class="row text-prussian-blue">
        <div class="col-lg-6 col-md-12 col-12 py-3">
          <div id="questions-one" class="py-3">
            <h5 class="font-merriweather font-weight-bold">Which platform will you use for my website?</h5>
            <h5>diesmo5 media uses Squarespace because it is flexible, easy to use, and affordable. However, we're also
              open to using any platform you are more comfortable with.</h5>
          </div>
          <div id="questions-two" class="py-3">
            <h5 class="font-merriweather font-weight-bold">What costs should I expect other than website design
              services?</h5>
            <h5><b>Squarespace:</b> Sign up for the Business plan from Squarespace. This will be an ongoing expense for
              as long as the website is live. You get a 20% discount on your first year if you work with diesmo5 media.
            </h5>
            <h5 class="py-2"><b>Domain:</b> If you purchase your domain from Squarespace, it’s free for your first year.
              I get my
              domains from Amazon Web Services because they’re so easy to work with and protect my privacy for free.
            </h5>
            <h5><b>Privacy Policy:</b> : If you plan on getting people to sign up for freebies by providing their names
              and email addresses, this is a legal requirement. Unless you already have one, diesmo5 media is open to providing a privacy policy for your website. 
            </h5>
          </div>
          <div id="questions-three" class="py-3">
            <h5 class="font-merriweather font-weight-bold">What if I don’t have the money right now?</h5>
            <h5> We understand how tight money can be when running a business. 
            </h5>
            <h5 class="py-2">
              We would encourage you to ask yourself "what if you could get new clients faster and actually make back your investment within a few
              months?"
            </h5>
            <h5>
              Each month new clients aren't coming in is another month your business isn't growing. Continuing to take actions 
              that don't get you results will cost you more money than investing in your website. 
            </h5>
          </div>
          <div id="questions-four" class="py-3">
            <h5 class="font-merriweather font-weight-bold">What if I’m not sure I’m ready to make this investment?</h5>
            <h5>Do you have a strong message? A clear niche? Great packages that get results for your clients?</h5>
            <h5 class="py-2">
              If you answered “yes” to all three questions, you are ready.
            </h5>
            <h5>
              Need a little extra help getting there? Our packages include mini strategy workshops, training sessions, and multiple consultations.</h5>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 py-3">
          <div id="questions-five" class="py-3">
            <h5 class="font-merriweather font-weight-bold">How do we know if we'll make a great team?</h5>
            <h5>Here’s what my clients love about working with us.</h5>
            <h5 class="py-2">
              <ul>
                <li> We also keep you updated on what we're working on.</li>
                <li> We promise to respond within one business day.</li>
                <li> Our clients feel empowered to take control of their website.</li>
                <li> Our clients know we are committed to helping their businesses succeed.</li>
              </ul>
            </h5>
            <h5>
              Best way to find out whether we’ll work well together? Book a quick call with us so we can get to know each other.
            </h5>
          </div>
          <div id="questions-six" class="py-3">
            <h5 class="font-merriweather font-weight-bold">Do you offer payment plans?</h5>
            <h5>Our pricing guide includes details about our payment plan and refund policy. You can download it <a href="" class="text-middle-red">here</a>.</h5>
          </div>
          <div id="questions-seven" class="py-3">
            <h5 class="font-merriweather font-weight-bold">Who owns the content on my new website?</h5>
            <h5>When diesmo5 media transfers ownership of your new website over to you, we also give you the rights to the
              intellectual property. <b class="text-middle-red">You own everything.</b></h5>
          </div>
          <div id="questions-eight" class="py-3">
            <h5 class="font-merriweather font-weight-bold">Do you offer ongoing support after the project is over?</h5>
            <h5>
              <b class="text-middle-red">
                We would love to continue working with you! 
              </b>
              We strive to create strong connections with our client so that we
              can develop the website as the business grows. This allows new features to be introduced as you progress
              that are appropriately added based 
              on the status of your business. 
            </h5>
            <h5 class="py-2">
              At the end of the web design project, we can discuss how diesmo5 media can continue to support your business so you
              can stay in your zone of genius, working with your clients. Remember that this choice is completely up to you.</h5>
          </div>
          <div id="questions-nine" class="py-3">
            <h5 class="font-merriweather font-weight-bold">Where are you based?</h5>
            <h5>Our team is based in San Diego, CA.
            </h5>
            <h5 class="py-2">
              But don't worry! We can work remotely with companies across the states and around the world. 
          </div>
          <div id="questions-eight" class="py-3">
            <h5 class="font-merriweather font-weight-bold">How soon can we get started?</h5>
            <h5 class="py-2">Just book a call with us and we can get started! </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-thirteen" class="bg-platinum p-lg-5">
    <div class="container py-5">
      <!-- <h2 class="font-merriweather font-weight-bold text-deep-space-sparkle py-5"> How it works</h2> -->
      <div class="row py-5 text-deep-space-sparkle">
        <div class="col-lg-6 col-md-12 col-12 py-3">

        </div>
        <div class="col-lg-6 col-md-12 col-12 py-3">
          <h5 class="font-work-sans">CLIENT SUCCESS STORY</h5>
          <h2 class="font-merriweather font-weight-bold text-middle-red">Stefanie signed 9 new clients within
            one month of launching her website.</h2>
          <h5 class="py-3">“Danbee, you beyond exceeded my expectations. It felt like you were holding my hand
            throughout
            the entire process and I absolutely LOVE my website."</h5>
          <h5 class="font-weight-bold">
            STEFANIE BRIDGES
          </h5>
          <h5 class="">
            ACCOUNTABILITY COACH
          </h5>
        </div>
      </div>
    </div>
  </section>
  <section id="page-section-fourteen" class="p-lg-5" data-aos="fade-up">
    <div class="container-fluid bg-platinum p-5">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12 m-auto py-4">
          <img src="../assets/media/services/services-website-900x900.jpg" alt="" class="w-100">
        </div>
        <div class="col-lg-7 col-md-6 col-12 m-auto py-4 text-deep-space-sparkle">
          <!-- <h5 class="">NICE WORK!</h5> -->
          <h2 class="font-merriweather font-weight-bold">Get a website that brings you clients.</h2>
          <h5 class=" py-3"> More than anything, we want to see you with a website that gets you results. If you’re
            ready, we’d love to build it for you.</h5>
          <h5 class=""> Book your free 20-minute call and we’ll go from there.</h5>
          <a href="https://forms.gle/AtxD4dpMM8TDU81x9" target="_blank" rel="external"
            class="btn btn-lg btn-middle-red-to-prussian-blue rounded-0 mt-4 px-5 py-3">BOOK YOUR CALL</a>
        </div>
      </div>
    </div>
  </section>
  {{ partial "diesmo5mediaFooter" }}
</main>
<!-- MAIN END -->
{{ end }}